.HeroSeccionContainerprofesorado {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(216, 216, 216, 0.3), rgba(215, 215, 215, 0.3)), url(../../../assets/14a69d_160ab5218e124e38900dee85d8b1c8ea~mv2.webp);
    background-size: cover;
    background-position: center;
    padding: 5rem;
}

.HeroSeccioninfoprofesorado {
    text-align: center;
    color: #6B1E1E;
}

.HeroSeccioninfoprofesorado h1 {
    font-size: 1rem;
    font-weight: 800;
}

.HeroSeccioninfoprofesorado h2 {
    font-size: 2.5rem;
    font-weight: 300;
}