footer {
    background-color: #6B1E1E;

}

footer .p1 {
    padding: 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer .logo a img {
    width: 200px;
}

footer .p1 .redes {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .p1 .redes a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    margin: 0 0.5rem;
    gap: 1rem;
    font-weight: 300;
}

footer .p1 .redes a i {
    font-size: 1.5rem;
}

footer .p2 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1rem;
    border: #ffffff;
    font-weight: 300;
}

footer .p2 p {
    text-decoration: none;
    color: white;
    font-size: 0.9rem;
    text-align: center;
}

footer .p2 a {
    text-decoration: none;
    color: white;
    font-size: 0.9rem;
}

@media screen and (max-width: 1090px) {
    footer .p1 {
        flex-direction: column;
    }

    footer .p1 .redes {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 2rem;
    }

}