.novedades {
    text-align: center;

}


.blog {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: 20rem;
    margin-right: 20rem;
    margin-top: 2rem;
}

.card {
    width: 400px;
    height: auto;
    /* Ajustar la altura automáticamente */
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card img {
    width: 100%;
    height: 200px;
    /* Altura fija para todas las imágenes */
    object-fit: cover;
    /* Ajustar la imagen para que cubra el espacio disponible */
    border-bottom: 1px solid #ccc;
}

.card h2 {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    padding: 10px;
    margin: 0;
}