/* Estilos para pantallas más grandes (por defecto) */
.moduloUnoContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 2rem 23rem 0 23rem;
}

.moduloUnoContainer .moduloUnoInfo {
    width: 40%;
}

.moduloUnoContainer .moduloUnoInfo h2 {
    font-size: 1.5rem;
    font-weight: 800;
    margin-bottom: 0.2rem;
}

.moduloUnoContainer .moduloUnoInfo h3 {
    font-size: 1rem;
    font-weight: 300;
    margin-top: 0.2rem;
}

.moduloUnoContainer .moduloUnoInfo p {
    font-size: 1rem;
    font-weight: 300;
}

/* Estilos para pantallas más pequeñas (móviles) */
@media screen and (max-width: 768px) {
    .moduloUnoContainer {
        text-align: center;
        flex-direction: column;
        margin-right: 2rem;
        margin-left: 2rem;
    }

    .moduloUnoContainer .moduloUnoInfo {
        width: 100%;
    }
}